{% extends 'layout.html' %}

{% block body %}
     <!-- Page Header -->
 
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  
    <hr>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>When Nelo was first introduced to coding, he realized it would open up limitless new career opportunities, but best of all, it didn’t require a degree to excel. Instead, all he needed was to learn the necessary skills and have the determination to work hard.</p>
         
      </div>
    </div>
  </div>

  <hr>

{% endblock %}